body {
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Para mostar na altura disponivel. */
}

.header {
    height: 50px;
    background-color: red;
}

.slider {
    flex: 1; /* Para pegar o resto da pagina inteira. */
    overflow: hidden; /* Para não gerar barra de rolagem.*/
}

.slide--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
    transition-duration: 2s;
    
}

.slide--item {
    width: 100vw;  /* Para mostar na largura disponivel. */
    height: inherit; /*Erdar do elemento pai (slider--width)*/
    background-position: center;
    background-size: cover;
}

.slider--controls {
    position: absolute; /*Para o item ficar sobre o outro.*/
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controles {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: bolder;
    color: red;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

